<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    <connectionStrings>
    <!--<add name="dbcon" connectionString="Server=N-20KEPC0X0CJS\SQLEXPRESS;Database=LOI;User ID= dev;Password=Password1234;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
      <add name="dbcon" connectionString="Server=203.153.105.247,1818;Database=LOI;User ID= loi_db_user;Password=L01db123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="TemplateDirectoryPath" value="d:\DocumentGenerator\Template\" />
    <add key="Templatefile" value="Template.htm" />
    <add key="Templatedetailfile" value="Template detail.htm" />
    <add key="DirectoryResultPath" value="d:\eloidocument\" />
    <add key="ResultPathUrl" value="https://eloinokia.nsnebast.com/eloidocument/" />
  </appSettings>
</configuration>