<head>
    <style type="text/css">
    </style>
</head>
<body>
    <table style="width: 100%; margin:70;">
        <tr style="text-align:center">
            <td colspan="10" style="border-bottom:1px solid black;" ></td>
            <td style="border-bottom:1px solid black;" >[total_unit_price]</td>
            <td style="border-bottom:1px solid black;" >[total_qty]</td>
            <td style="border-bottom:1px solid black;" >[sum_total_price]</td>
        </tr>
        <tr style="text-align:center">
            <td colspan="9" style="border-bottom:1px solid black; border-left: 1px solid black;">LOI Requirement</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;"></td>
            <td colspan="3" style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">Estimate Price</td>
        </tr>
        <tr style="text-align:center">
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">No</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">WPID/SMPID</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Customer PO</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Customer PO Date</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Region/Area</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Site ID</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Old Site</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Scope</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Subcon Name</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Site Model</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Unit Price</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black;">Qty</td>
            <td style="border-bottom:1px solid black; border-left: 1px solid black; border-right: 1px solid black;">Total Price</td>
        </tr>
