<head>
    <style type="text/css">
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap; 
            white-space: -o-pre-wrap; 
            word-wrap: break-word; 
        }
    </style>
</head>
<body style="width: 800px; word-wrap: break-word; margin-top: 60.472440945; margin-left: 68.031496063; margin-right: 45.354330709; margin-bottom: 37.795275591; text-align: justify">
    <table style="width: 100%;">
        <tr>
            <td colspan="3" style="font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">[subcon_name]</td>
            <td colspan="2">[nokia_logo]</td>
        </tr>
        <tr>
            <td colspan="3" style="font-family: Arial; font-size: 13.333333333333334;">[subcon_address]</td>
            <td colspan="2" style="font-family:Arial; font-size: 13.333333333333334;">PT. Nokia</td>
        </tr>
        <tr>
            <td colspan="3" style="font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">[subcon_address_city]</td>
            <td colspan="2" style="font-family: Arial; font-size: 9.333333333333334;">Menara Mulia</td>
        </tr>
        <tr>
            <td style="width: 1%; font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">Phone</td>
            <td style="width: 1%; font-family: Calibri; font-size: 14.666666666666666; font-weight: bold;">:</td>
            <td style="font-family: Calibri; font-size: 14.666666666666666; font-weight: bold;">[subcon_phone]</td>
            <td colspan="2" style="font-family: Arial; font-size: 9.333333333333334;">Jl. Jend.Gatot kav.9-11</td>
        </tr>
        <tr>
            <td style="width: 1%; font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">Fax</td>
            <td style="width: 1%; font-family: Calibri; font-size: 14.666666666666666; font-weight: bold;">:</td>
            <td style="font-family: Calibri; font-size: 14.666666666666666; font-weight: bold;">[subcon_fax]</td>
            <td colspan="2" style=" width: 15%; font-family: Arial; font-size: 9.333333333333334;">Jakarta 12930</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="2" style="                    width: 15%;
                    font-family: Arial;
                    font-size: 9.333333333333334;
            ">Indonesia</td>
        </tr>
    </table>
    <br />
    <br />
    <p style="border-bottom-style: dashed; border-bottom-width: thin; padding-bottom: 10px; font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">Attn. Project Manager</p>
    <br />
    <table style="width: 100%;">
        <tr>
            <td style="width: 15%; font-family: Calibri; font-size: 14.666666666666666; font-weight: bold;">LOI Reference</td>
            <td style="font-family:Calibri; font-size: 12;">[loi_reference]</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">Date</td>
            <td style="font-family:Calibri; font-size: 12;">[loi_approved]</td>
        </tr>
    </table>
    <br />
    <pre style="word-wrap: break-word;"><span style="font-family: Calibri; font-size: 14.666666666666666; font-weight: bold; font-style:italic;">Subject : Letter of Intent –[CTName]_[cpo]</span>

<span style="font-family: Calibri; font-size: 14.666666666666666;">Dear Sirs,</span>

<span style="font-family: Arial; font-size: 13.333333333333334;">In order to meet our customer demand to Implementation in East Java South Area while NSN is preparing the related Purchase Order to </span><span style="font-family:Calibri; font-size: 14.666666666666666; font-weight: bold;">[subcon_name], No: ID – [epm_id]</span> <span style="font-family: Arial; font-size: 13.333333333333334;">would like to ask your support to provide the required team to start working on below SoW at the mentioned sites based on [po_no]
Scope of Works:
[sow_detail]
Site Names: </span>
<span style="font-family: Arial; font-size: 13.333333333333334; font-weight: bold;">As Attached</span>
<span style="font-family: Arial; font-size: 13.333333333333334;">Schedule:</span>
<span style="font-family: Arial; font-size: 13.333333333333334; font-weight: bold;">ASAP</span>

<span style="font-family: Arial; font-size: 13.333333333333334;">NSN will issue the related Purchase Orders within 21 working days from this LOI date.
Please note that this is an exceptional case due to the urgent request and confirmed the site and scope of work assign to your company with the agreed price available. 
“No PO No Work policy” remains valid as NSN guideline.


Thank you for your support.

Yours faithfully,</span>
<span style="font-family: Arial; font-size: 13.333333333333334; font-weight: bold;">PT. Nokia Solutions and Networks</span>
</pre>
    <br />[ttd]<br />
    <pre><span style="font-family: Arial; font-size: 13.333333333333334; font-weight: bold; text-decoration:underline;">Partho Banerjee</span>
<span style="font-family: Arial; font-size: 13.333333333333334;">Head of Services - Sub Region Indonesia</span> 
<span style="font-family: Arial; font-size: 13.333333333333334;">Nokia Solutions and Networks</span>
</pre>
    <p style="border-bottom-style: dashed; border-bottom-width: thin;"></p>
    <pre>
<span style="font-family: Calibri; font-size: 14.666666666666666;">Approval log :
    1. Approved by [Approver_cpm] on [Approver_cpm_date]
    2. Approved by [Approver_pbm] on [Approver_pbm_date]
    3. Approved by [Approver_cdm] on [Approver_cdm_date]
    4. Approved by [Approver_mb] on [Approver_mb_date]
    5. Approved by [Approver_mu] on [Approver_mu_date]
    </span>
    </pre>
</body>

